/* links-style.css */

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: linear-gradient(to bottom, #3A3F44 0%, #1f1f1f 100%);
    color: #ffffff;
    text-align: center;
    padding-top: 50px;
    margin: 0;
    height: 100vh;
}

.profile-container {
    margin-bottom: 30px;
}

.profile-pic {
    width: 120px; /* Adjust size as needed */
    height: 120px;
    border-radius: 50%;
    margin-bottom: 10px;
}

h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.link-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link-button {
    display: block;
    background: white;
    color: #000000;
    padding: 15px 60px;
    margin: 10px 0;
    text-decoration: none;
    border-radius: 2px; /* Rounded corners */
    transition: background-color 0.3s, transform 0.3s;
    width: 80%; /* Responsive width */
    max-width: 300px; /* Maximum width */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); /* Optional: adds shadow for depth */
}

.link-button:hover {
    background-color: #e0e0e0; /* Light grey for hover state */
    transform: translateY(-2px); /* Optional: slight lift effect on hover */
}

.social-media-icons {
    position: absolute;
    bottom: 30px;
    width: 100%;
    /* Icons will be styled here */
}

/* Responsive adjustments */
@media (max-width: 600px) {
    .link-button {
        width: 90%; /* Full width on smaller screens */
        padding: 15px 25px; /* Adjust padding as necessary */
    }
}
